* {
    @include scrollbar();
}

html {
    background-color: $body-bg;
    color: #343434;
    overflow: overlay;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height: calc(var(--vh, 1vh) * 100);
    font-family: Cormorant;
    display: flex;
    flex-direction: column;
    -webkit-font-size-adjust: 100%;
    font-size-adjust: 100%;
    background-color: #dfdcd6;
    font-weight: 600;

    &.no-scroll {
        overflow: hidden;
        padding-right: var(--scrollbar-width, 0px);
    }
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

:focus {
    outline-color: currentColor;
}

:focus-visible {
    @include outline();
}

// ::selection {
//     background-color: rgba(#fff, 0.2);
// }

#__next {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--offset-x);
    padding-right: var(--offset-x);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.canvas-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    transition: opacity 0.25s ease;
}

.canvas-wrapper--opacity {
    opacity: 0.4;
}

.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pointer-events-none {
    pointer-events: none !important;
}

.pointer-events-auto {
    pointer-events: auto !important;
}

// https://nextjs.org/docs/api-reference/next/image#known-browser-bugs
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
        clip-path: inset(0.6px);
    }
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: #ffe;
    border-radius: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.button {
    --accept-color: #96b6a1;
    --decline-color: #843a31;
    border: 1px solid #343434;
    color: #343434;
    background-color: #dfdcd6;
    padding: 12px 100px;
    @include responsive-font-size(16px, 24px, 1280px, 1920px);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
    flex: none;

    &::after {
        position: absolute;
        content: '';
        top: -3px;
        left: -3px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        background-color: #343434;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.4s ease;
    }

    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        --size: 30px;
        width: var(--size);
        height: var(--size);
        margin-left: calc(var(--size) / -2);
        margin-top: calc(var(--size) / -2);
        border-radius: 50%;
        z-index: 1;
        border: 4px solid transparent;
        border-top-color: transparent;
        animation: rotate linear infinite 1s;
        display: none;
    }

    @include hover() {
        &:not(.is-loading) {
            color: #dfdcd6;
        }
        &::after {
            transform: scaleY(1);
            transform-origin: bottom;
        }
    }
    &.accept {
        border-color: var(--accept-color);

        &.is-done {
            color: #343434;
            &::after {
                transform: scaleY(1);
                transform-origin: bottom;
            }
        }

        &.is-loading {
            &::before {
                display: flex;
                border-color: var(--accept-color);
                border-top-color: transparent;
            }

            &::after {
                transform: scaleY(0);
            }

            .button__inner {
                opacity: 0.5;
            }
        }

        @include hover() {
            color: #343434;
        }
        &::after {
            background-color: var(--accept-color);
        }
    }

    &.decline {
        border-color: var(--decline-color);

        &.is-done {
            color: #dfdcd6;
            &::after {
                transform: scaleY(1);
                transform-origin: bottom;
            }
        }

        &.is-loading {
            &::before {
                display: flex;
                border-color: var(--decline-color);
                border-top-color: transparent;
            }

            &::after {
                transform: scaleY(0);
            }

            .button__inner {
                opacity: 0.5;
            }
        }

        &::after {
            background-color: var(--decline-color);
        }
    }
}

.button__inner {
    position: relative;
    z-index: 1;
    transition: opacity 0.25s ease;
}

.rsyp {
    position: fixed;
    bottom: 35px;
    right: var(--offset-x);
    z-index: 1;
}

.discover-button {
    margin-top: auto;
}
